@font-face{
    font-family: 'Roboto-Regular', sans-serif;
    src: url('../fonts/Roboto-Regular.woff2') format('woff2'),
         url('../fonts/Roboto-Regular.woff') format('woff');
    font-weight: 400; 
    font-display: swap;  
}

// @font-face{
//     font-family: 'Roboto-Medium', sans-serif;
//     src: url('../fonts/Roboto-Medium.woff2') format('woff2'),
//          url('../fonts/Roboto-Medium.woff') format('woff');
//     font-weight: 500;   
// }

// @font-face{
//     font-family: 'Roboto-Bold', sans-serif;
//     src: url('../fonts/Roboto-Bold.woff2') format('woff2'),
//          url('../fonts/Roboto-Bold.woff') format('woff');
//     font-weight: 700;   
// }

@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?kd9xm6');
    src:  url('../fonts/icomoon.eot?kd9xm6#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?kd9xm6') format('truetype'),
      url('../fonts/icomoon.woff?kd9xm6') format('woff'),
      url('../fonts/icomoon.svg?kd9xm6#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  
.icon-envelope-o:before {
  content: "\f003";
}
.icon-map-marker:before {
  content: "\f041";
}
.icon-shopping-cart:before {
  content: "\f07a";
}
.icon-heart-o:before {
  content: "\f08a";
}
.icon-phone:before {
  content: "\f095";
}
.icon-bell-o:before {
  content: "\f0a2";
}
.icon-bolt:before {
  content: "\f0e7";
}
.icon-flash:before {
  content: "\f0e7";
}
.icon-angle-right:before {
  content: "\f105";
}
.icon-location-arrow:before {
  content: "\f124";
}
.icon-angle-down:before {
  content: "\f107";
}