html {
    box-sizing: border-box;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6, p, ul, li {
    padding: 0;
    margin: 0;
}

a {
    display: inline-block;
    text-decoration: none;
    color: $text;
}

ul, li {
    list-style: none;
}

img {
	max-width: 100%;
	vertical-align: top;
}

body {
    font-family: 'Roboto-Regular', sans-serif;
    font-weight: 400;
    color: $text;
    font-size: 15px;
    line-height: 24px;

}

.container{
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.container-fluid{
    max-width: 100%;
    padding: 0 30px;
    margin: 0 auto;
}

@media (max-width: 720px){
    .container-fluid{
        padding: 0 15px;
    }
}

.title {
    color: $bg;
    @include f700;
    font-size: 36px;
    line-height: 60px;
    text-align: center;
    margin-bottom: 30px;

}

.rate-star {
    display: inline-block;
    margin-right: 30px;
}